<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <dlsConfigurations>
    <add key="gandodlsgen2" value="2EspWsyt20YKtmqWU1NDjvhIRz74Jy+Wk+eU9/99oBts1N9HlGqtPDyo+HocyS9Wu6bPotymvL+dAcIzKcTjog==" />
    <add key="gandodlsgen3" value="456" />
    <add key="gandodlsgen4" value="123" />
  </dlsConfigurations>
</configuration>